################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bin
/Obj
/.vs
/Data/tests
build
.DS_Store
/Generated

